ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 2px;
    left: 0;
    background-color: aqua;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 1.0ss ease-in-out 0s;
    transition: all 1.0s ease-in-out 0s;
  }
  
  ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background: #C900FF/rosa/
  
  }